  .intro{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #000;
  }

  .modebuttons img{
    width: 30px;
    position: absolute;
    left: 30px;
    top: 5px;
  }

  .modebuttons{
    float: left;
    width: 50%;
  }

  .modebuttons a{
    width: 150px;
  }

  .intro #video{
    max-width: 100%;
    max-height: 100%;
  }

  .intro .close{
    position: absolute;
    bottom: 25px;
    right: 25px;
  }

  .row1{
    background: #EEE;
    width: 100%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 0px;
  }

  #mapdiv{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top:60px;
  }
  #sliderholder #slider2 .ui-slider-handle{
    width: 15px;
    height: 38px;
    background: #55c3eb;
    border-radius: 10px;
  }

  .maplayerbuttons{
    float: right;
    margin-right: 5px;
  }

  .modebuttons .col-md-4{
    float: left;
    width: 33%;
  }

  #slider2{
    position: absolute;
    margin: auto;
    background: transparent;
    width: 97%;
  }

  .epochholder{
    overflow: auto;
    width: 100%;
  }

  .ui-widget-header{
    background: transparent;
  }

  .btn-info.btn-fill{
    background-color: #41C6EB;
    border-color: #41C6EB;
  }

  .btn-info{
    border-color: #41C6EB;
  }

  #sliderholder .spantitle{
    text-align: center;
    display: block;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  #sliderholder{
    position: absolute;
    width: 90%;
    left: 5%;
    z-index: 1;
    bottom: 5%;
    background: #41C6EB;
    border: 3px solid #fff;
    padding: 10px 10px 10px 10px;
    display: none;
  }

  .wide-popup .leaflet-popup-content{
    width: 401px!important;
  }

  #slidertitle{
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  #sliderholder .epochholder div {
    height: 25px;
    border: 1px solid;
    float: left;
  }

  #sliderholder .epochholder div.el0{
    background: #eee;
  }
  #sliderholder .epochholder div.el1{
    background: #ddd;
  }
  #sliderholder .epochholder div.el2{
    background: #ccc;
  }
  #sliderholder .epochholder div.el3{
    background: #bbb;
  }
  #sliderholder .epochholder div.el4{
    background: #aaa;
  }
  #sliderholder .epochholder div.el5{
    background: #999;
  }
  #sliderholder .epochholder div.el6{
    background: #888;
  }

  #sliderholder .epochholder div.el7{
    background: #777;
  }
  #sliderholder .epochholder div.el8{
    background: #666;
  }
  #sliderholder .epochholder div.el9{
    background: #555;
  }
  #sliderholder .epochholder div.el10{
    background: #444;
  }
  #sliderholder .epochholder div.el11{
    background: #333;
  }



  .logoholder{
    margin-top: -5px;
    margin-bottom: 5px;
    width: 220px;
    float: left;
  }

  .logoholder img{
    width: 100%;
  }
  
  #sliderholder .ui-slider-float .ui-slider-tip, #sliderholder .ui-slider-float .ui-slider-tip-label{
    width: 55px;
    margin-left: -27px;
  }

  #walkholder{
    position: absolute;
    top: 60px;
    bottom: 0%;
    right: 0px;
    background: #fff;
    width: 320px;
    z-index: 1;
    overflow: scroll;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    display: none;
  }

  .width100{
    width: 100%;
  }

  #walkholder img{
    width: 100%;
  }

  #walkholder p{
    font-size:14px;
    font-weight: bold;
  }

  span.infotitle {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
  }

  span.info {
    display: block;
    margin-bottom: 10px;
  }

  .btn-info:hover, .btn-info:focus, .btn-info:active, .open .dropdown-toggle.btn-info{
    border-color: #55c3eb;
  }

  .btn-info{
    color: #55c3eb;
  }

  .btn-info.btn-fill{
    color: #fff;
  }

  .btn-info.btn-fill:hover{
    background: #E3D438;
    border-color: #E3D438;
  }

  .btn:focus{
    outline: 0px auto -webkit-focus-ring-color;
  }

  .leaflet-popup-close-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
  }
